<div class="flex flex-wrap gap-5">
  <div class="info flex justify-center" *ngFor="let car of cars">
    <a href="" class="flex flex-col p-4 gap-3 mt-3">
      <div class="flex flex-row justify-between">
        <p>{{ car.car_name }}</p>
        <span
          ><mat-icon><img src="assets/img/svg/heart.svg" /></mat-icon
        ></span>
      </div>
      <div class="mt-3">
        <img src="assets/img/png/car.png" />
      </div>
      <!--  car MPG-->
      <div class="flex flex-row justify-between gap-3 mt-8">
        <div class="flex flex-row items-center gap-1">
          <img src="assets/img/svg/gas-station.svg" />
          <span class="text-sm">{{ car.gas_mileage_city }}</span>
        </div>
        <!--      cars type-->
        <div class="flex flex-row items-center gap-1">
          <img src="assets/img/svg/Car.svg" />
          <span class="text-sm">{{ car.transmission_type }}</span>
        </div>
        <!--      how many people are interest-->
        <div class="flex flex-row items-center gap-1">
          <img src="assets/img/svg/profile-2user.svg" />
          <span class="text-sm">{{ car.interest_level }} people</span>
        </div>
      </div>
      <!--  price-->
      <div class="flex flex-row justify-between items-center mt-4">
        <span class="price-details text-sm"
          ><strong>{{ car.daily_rental_cost }} /</strong> day</span
        >
        <button>Rent Now</button>
      </div>
    </a>
  </div>
</div>
