<div class="flex justify-center gap-3">
  <div class="user-info">
    <a href="">
      <mat-icon><img src="assets/img/svg/heart.svg" alt="heart" /></mat-icon>
    </a>
  </div>
  <div class="user-info">
    <a href="">
      <mat-icon matBadge="1" matBadgeColor="accent">
        <img src="assets/img/svg/notification.svg" alt="notification" />
      </mat-icon>
    </a>
  </div>
  <div class="user-info">
    <a href="">
      <mat-icon>
        <img src="assets/img/svg/setting-2.svg" alt="setting" />
      </mat-icon>
    </a>
  </div>
  <div class="user-info"><a href="">user</a></div>
</div>
